---
layout: base
---

<header class="text-white p-6 md:p-8 lg:p-10 bg-slate-800">
  <div class="container mx-auto">
    {% include "../_includes/nav.njk" %}
  </div>
</header>
<main>
  <div class="container mx-auto p-8 md:py-12">
    {{content | safe}}
  </div>
</main>
<script type="module" src="{{ '/assets/js/search.js' | url }}"></script>
