---
layout: home
title: Home
heading: Sought to improve our conscious contact with God
subheading: A resource for all those seeking a spiritual awakening as a result of working the 12 steps
---

<section class="py-10 lg:py-24 odd">
  <div class="text-center mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-2xl font-semibold"><a href="/search/" class="underline underline-offset-4">Search the literature</a> from these 12-step fellowships</h2>
    <div class="">
      <a href="https://aa.org"><img class="inline-block max-h-16 lg:max-h-24 m-4 lg:m-8 object-contain" src="/assets/img/logo-AA.svg" alt="Alcoholics Anonymous" data-attribution="By Anamix - Own work, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=37930268"></a>
      <a href="https://na.org"><img class="inline-block max-h-16 lg:max-h-24 m-4 lg:m-8 object-contain" src="/assets/img/logo-NA.svg" alt="Narcotics Anonymous" data-attribution="By Jimmy Kinnon - Unknown source, Public Domain, https://commons.wikimedia.org/w/index.php?curid=63299955"></a>
      <a href="https://sa.org"><img class="inline-block max-h-16 lg:max-h-24 m-4 lg:m-8 object-contain" src="/assets/img/logo-SA.jpg" alt="Sexaholics Anonymous" data-attribution="By book cover, Fair use, https://en.wikipedia.org/w/index.php?curid=48163006"></a>
    </div>
    <p class="inline-block bg-sky-50 border rounded border-sky-100 px-4 py-3 my-2">If you’d like to have literature from another fellowship added, please contact <a href="mailto:hello@conscious.contact">hello@conscious.contact</a></p>
  </div>
</section>

{# <section class="py-10 even bg-slate-100">
  <div class="container mx-auto">
    <h2 class="lg:text-4xl text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
  </div>
</section> #}